.list-group h2 {
  font-size: 1.2rem;
  margin: 0;
}

#menu-aulas {
  position: -webkit-sticky;
  position: sticky;
  top: 4rem;
  height: calc(100vh - 4rem);
  z-index: 1000;
  overflow-y: auto;
  border-right: 1px solid rgba(0,0,0,.1);
}

#menu-aulas h2 {
  padding-top: 1rem;
  font-size: 0.9rem;
  font-weight: 500;
}

#menu-aulas .nav .nav-item .nav-link {
  padding: .2rem 0;
  font-size: 0.9rem;
  font-weight: 300;
}

#menu-aulas .nav .nav-item .nav-link.active {
  font-weight: 500;
}

#pagination .previous,
#pagination .next {
  width: 49%;
  padding: 0;
  margin: 0;
}

#main {
  padding-top: 4rem;
  min-height: 100vh !important;
}

#main h1 {
  font-weight: 600;
  font-size: 1.8rem;
  border-bottom: 1px solid rgba(0,0,0,.1);
  margin-bottom: 1.5rem;
}

#main h2 {
  font-weight: 600;
  font-size: 1.5rem;
  border-bottom: 1px solid rgba(0,0,0,.1);
  margin: 2rem 0 1rem;
  padding-bottom: 0.75rem;
}

#main h3 {
  font-weight: 600;
  font-size: 1.2rem;
  border-bottom: 1px solid rgba(0,0,0,.1);
  margin: 2rem 0 1rem;
  padding-bottom: 0.75rem;
}

#main h4 {
  font-weight: 600;
  font-size: 1.1rem;
  border-bottom: 1px solid rgba(0,0,0,.1);
  margin: 2rem 0 1rem;
  padding-bottom: 0.75rem;
}

#main {
  ol ol, ol ul, ul ol, ul ul {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

#main blockquote {
  padding: 0 15px;
  color: #777;
  border-left: 4px solid #ddd;
}

#main blockquote>:first-child { margin-top: 0; }
#main blockquote>:last-child { margin-bottom: 0; }

@media (min-width: 768px) {
  #main h1 { padding-bottom: 0.75rem !important; }
}
